

#image_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    background-color: #fff;
    width: 820px;
    height: 450px;
    border: 1px solid black;
}

#image_container .image {

    height: 220px;

}

#image_container img {

    width: 200px;
    height: 160px;

}

#image_container .image_text {
    font-family: 'Lato';
    text-align: center;
}

#image_container > div {

    padding: 20px;

}

#github_button {
    margin-top: 30px;
    width: 860px;
    display: flex;
    justify-content: center;
}

#github_button a {
    font-family: 'Lato';
    text-decoration: none;
    transition: color .15s ease;
    position: relative;
    border-radius: 4px;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff!important;
    background-color: #3f51b5!important;
}

#github_button a:hover {
    color: #000!important;
    background-color: #ccc!important;
}

.image_text {
    font-size: 20px;
}
.image-text-title {
    font-size: 22px;
}
